/* ПОСЛІДОВНІСТЬ ДІЙ:
1. підключити шрифти
2. прописати шрифти у стилях
3. підключити modern-normalize
4. підключити файл style.css
4. скидання дефолтних налаштувань
5. прописати стилі для: header, main, footer*/

/*скидання дефолтних налаштувань браузера*/
/* скинув маркери */
.list {
    list-style: none;
}
/* скинув підкреслення */
.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}
h1,h2,h3,h4,p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}
/*Контейнер.спільний клас для кожної секції, якій огорнутий у DIV*/
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*=========/END=========*/

/*-------------------HEADER-------------------*/
/*1. ПРОПИСУЮ ШРИФТИ ДЛЯ HEADER*/
/*прописую для WEBSTUDIO*/
.web-text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.studio-text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
/* прописую шрифти для списоку меню/menu-item */
.menu-item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
/* прописую шрифти для інтерактивних посилань/header-contacts */
.header-contacts {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*2. ПРОПИСУЮ FLEX для HEADER */

/* властивості FLEX-контейнера*/
.main-header {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
/* властивості FLEX-елементів*/
.main-header-container {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
    column-gap: 80px;
}
.menu {
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.page-adress {
    display: flex;
    align-items: center;
}
.header-contacts {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-left: 325px;
}
/*=============/HEADER END=============*/

/*-------------------MAIN-------------------*/
/*головний список кнопок-меню/menu-btn*/
/*1. прописую шрифти для MAIN*/
.menu-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
}

/* прописую ideas-title/ideas-category*/
.ideas-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1,2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.ideas-category {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*2. ПРОПИСУЮ FLEX для MAIN */

.hero-btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 96px;
    margin-bottom: 120px;
}
.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    margin-bottom: 72px;
}
.menu-btn-item { 
    display: flex;
    align-items: center;
}
.filter-button {
    padding: 12px 24px;
    background-color: #F4F4FD;
    background-color: #4D5AE5;
}
.filter-button:hover,
.filter-button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}






















/*=============/MAIN END=============*/

/*-------------------FOOTER-------------------*/
/*1. прописую щрифти для підвал */
.footer-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
/*=============/FOOTER END=============*/









 